
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope[wght].woff2') format('woff2'),
         url('./fonts/Manrope[wght].ttf') format('truetype');
    font-style: normal;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }